<div class="main-container">
<div class="info-container">
<h1>Unclaimed Bets</h1>

{{#each bets}}
	{{#unless this.karma_received}}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h3 id=unclaimed>{{this.Match.fighter}} over {{this.Match.opponent}}: {{this.Match.result}}</h3>
			<br>
			<h3 style="color: green;">{{this.amount}}</h3>
		</div>
		<div class="col-md-2">
			<form action="/karma/{{this.id}}" method="POST">
		    	<button type="submit" class="btn btn-primary">Claim Karma</button>
		    </form>
		    <form action="/delete/{{this.id}}" method="POST">
		    	<button type="submit" class="btn btn-primary">Delete Bet</button>
		    </form>
		</div>
	</div>
	{{/unless}}
{{/each}}

<h1>Claimed Bets</h1>

{{#each bets}}
	{{#if this.karma_received}}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h3 id=claimed>{{this.Match.fighter}} over {{this.Match.opponent}}: {{this.Match.result}}</h3>
			<br>
			<h3 style="color: green;">{{this.amount}}</h3>
		</div>
		<div class="col-md-2">
		    <form action="/clear/{{this.id}}" method="POST">
		    	<button type="submit" class="btn btn-primary">Clear Bet</button>
		    </form>
		</div>
	</div>
	{{/if}}
{{/each}}

</div>

</div>