<div class="main-container">
<div class="info-container">
<h1>Open Fight Cards</h1>

{{#each events}}
	{{#if this.accepting_bets}}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h3 id=openfight>{{this.event_name}}<a href="/matches/{{this.id}}/{{this.Matches.0.id}}"></a></h3>
			<br>
			<h5>{{this.date}}; {{this.venue}}; {{this.location}}</h5>
		</div>
		<div class="col-md-2">
			<br>
			<a href="/matches/{{this.id}}/{{this.Matches.0.id}}"><button type="submit" class="btn btn-lg btn-primary">View Fights</button></a>
		</div>
	</div>
	{{/if}}
{{/each}}

<h1>Past Fight Cards</h1>

{{#each events}}
	{{#unless this.accepting_bets}}
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h3 id=pastfight>{{this.event_name}}</h3>
			<br>
			<h5>{{this.date}}; {{this.venue}}; {{this.location}}</h5>
		</div>
		<div class="col-md-2">
			<br>
			<a href="/matches/{{this.id}}/{{this.Matches.0.id}}"><button type="submit" class="btn btn-lg btn-primary">View Fights</button></a>
		</div>

	</div>
	{{/unless}}
{{/each}}
</div>
</div>