
<div class="main-container">
  <div class="row">
    <div class="col-md-offset-2 col-md-4">

      <div class="card">
        <ul class="stats">
          <li class="name">{{this.fighter.name}}</li>
          <li class="record">Record:{{this.fighter.record}}</li>
          <li class="age">Age:{{this.fighter.age}}</li>
          <li class="height">Height:{{this.fighter.height}}</li>
          <li class="weight">Weight:{{this.fighter.weaight}}</li>
          <li class="weight_class">Weight Class:{{this.fighter.weight_class}}</li>
          <li class="wins_k">Knockouts:{{this.fighter.wins.knockouts}}</li>
          <li class="wins_s">Submissions:{{this.fighter.wins.submissions}}</li>
          <li class="wins_d">Decisions:{{this.fighter.decisions}}</li>
          <li class="strikes_a">Strikes Attempted:{{this.fighter.strikes.attempted}}</li>
          <li class="strikes_s">Strikes Successful:{{this.fighter.strikes.successful}}</li>
        </ul>
      </div>
      <form action="/bets/{{this.fMatch.id}}" method="POST">
      	<div class="form-group">
      		<label for="betInput">Amount</label>
      		<input type="text" class="bet_amount" placeholder="Bet 	Amount" name="amount">
      	</div>
      	<button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
    <div class="col-md-4">
      <div class="card">
        <ul class="stats">
          <li class="name">{{this.opponent.name}}</li>
          <li class="record">Record:{{this.opponent.record}}</li>
          <li class="age">Age:{{this.opponent.age}}</li>
          <li class="height">Height:{{this.opponent.height}}</li>
          <li class="weight">Weight:{{this.opponent.weight}}</li>
          <li class="weight_class">Weight Class:{{this.opponent.weight_class}}</li>
          <li class="wins_k">Knockouts:{{this.opponent.wins.knockouts}}</li>
          <li class="wins_s">Submissions:{{this.opponent.wins.submissions}}</li>
          <li class="wins_d">Decisions:{{this.opponent.wins.decisions}}</li>
          <li class="strikes_a">Strikes Attempted:{{this.opponent.strikes.attempted}}</li>
          <li class="strikes_s">Strikes Successful:{{this.opponent.strikes.successful}}</li>
        </ul> 
      </div>
      <form action="/bets/{{this.oMatch.id}}" method="POST">
      	<div class="form-group">
      		<label for="betInput">Amount</label>
      		<input type="text" class="bet_amount" placeholder="Enter Bet Amount" name="amount">
      	</div>
      	<button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>



  <div class="row">
     <div class="col-md-offset-1 col-md-10">
      <div class="sub-container" id="lesser-fights">
      	<div class="event">

      	</div>

      	<div class="event">

      	</div>

      	<div class="event">

      	</div>
      </div>
    </div>   
  </div>

