
<div class="jumbo-container">
  <div class="jumbotron">
  <div class="container">
    <h1><div class="brand">Safe Bet</div>is your best bet.</h1>
      <p class="subtext">Review the stats. Place your bets. Collect the karma!</p>
      <p><a class="btn btn-primary btn-lg" href="sign-in" role="button">Sign In</a></p>
  </div>
</div>
</div>

<div class="main-container">
  <div class="row">
    <div class="col-md-offset-2 col-md-5">
		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<img src="/assets/images/Tony_F.png" alt="Avatar" style="width:100%">
					<h3 class="fighter-name">{{this.fighter.name}}</h3>
				</div>
				<div class="back">
			        <ul class="stats">
			          <li class="record">Record:{{this.fighter.record}}</li>
			          <li class="age">Age:{{this.fighter.age}}</li>
			          <li class="height">Height:{{this.fighter.height}}</li>
			          <li class="weight">Weight:{{this.fighter.weaight}}</li>
			          <li class="weight_class">Weight Class:{{this.fighter.weight_class}}</li>
			          <li class="wins_k">Knockouts:{{this.fighter.wins.knockouts}}</li>
			          <li class="wins_s">Submissions:{{this.fighter.wins.submissions}}</li>
			          <li class="wins_d">Decisions:{{this.fighter.decisions}}</li>
			          <li class="strikes_a">Strikes Attempted:{{this.fighter.strikes.attempted}}</li>
			          <li class="strikes_s">Strikes Successful:{{this.fighter.strikes.successful}}</li>
			        </ul>
        		</div>
        	</div>
        </div>
      <form class="form-inline submit-bet">
      	<div class="form-group">
      		<label class="bet-amount" for="betInput">Amount</label>
      		<input type="text" class="bet_amount" placeholder="Enter Bet Amount" name="amount">
      	</div>
      	<button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
    <div class="col-md-4">
 		<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
			<div class="flipper">
				<div class="front">
					<img src="/assets/images/Kevin_L.png" alt="Avatar" style="width:100%">
					<h3 class="fighter-name">{{this.opponent.name}}</h3>
				</div>
				<div class="back">
			        <ul class="stats">
			          <li class="record">Record:{{this.opponent.record}}</li>
			          <li class="age">Age:{{this.opponent.age}}</li>
			          <li class="height">Height:{{this.opponent.height}}</li>
			          <li class="weight">Weight:{{this.opponent.weight}}</li>
			          <li class="weight_class">Weight Class:{{this.opponent.weight_class}}</li>
			          <li class="wins_k">Knockouts:{{this.opponent.wins.knockouts}}</li>
			          <li class="wins_s">Submissions:{{this.opponent.wins.submissions}}</li>
			          <li class="wins_d">Decisions:{{this.opponent.wins.decisions}}</li>
			          <li class="strikes_a">Strikes Attempted:{{this.opponent.strikes.attempted}}</li>
			          <li class="strikes_s">Strikes Successful:{{this.opponent.strikes.successful}}</li>
			        </ul> 
        		</div>
        	</div>
        </div>
      <form class="form-inline submit-bet">
      	<div class="form-group">
      		<label class="bet-amount" for="betInput">Amount</label>
      		<input type="text" class="bet_amount" placeholder="Enter Bet Amount" name="amount">
      	</div>
      	<button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>


  <div class="row">
     <div class="col-md-offset-1 col-md-10">
		<div id="other-fights">
			{{#each matches}}
				<button class="btn fights"><a href="">{{this.fighter}} VS {{this.opponent}}</a></button>
			{{/each}}
		</div> 
	</div>   
  </div>

